<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fonts/Golden.ttf">
    <link rel="stylesheet" href="/stylesheets/fonts/Golden2.ttf">
    
</head>
<body style="background:url(../images/patronRetro.jpg);">
	 <%- include('header',{page:page}) -%>


		<div class=" container-acerca">

		<div class="container" >
        <div class="row">           
            <div class="col-12 text-center"> 
                <div class="container"> 
                    <span class="tituloAcerca"> ACERCA DE NOSOTROS</span>
        </div>
        </div>
    </div>

	<div class="container" >
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img src="images/herminio.jpg" class="img-fluid" width="70%">
                        </div>
                    </div>  
                </div>
            </div>  
            
            <div class="col-6"> 
                <div class="container"> 
                    <span class="tienda1"> Herminio</span>
                </div>
                <span class="">Me llamo Herminio Alejandro García Martínez y me
                 dicen Hermes, Mino o Ale. Me gustan muchos los perros, 
                jugar en Maincraft, ver memes, ver Anime, dormir y por supuesto 
                comer xd.</span>
                <p>Estudio Ingeniería de Software en la UAZ y espero pasar 
                las materias.</p>
            </div>
        </div>
        </div>
    </div>

    <div class=" container-acerca">
	<div class="container" >
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img src="images/angie.jpg" class="img-fluid" width="70%">
                        </div>
                    </div>  
                </div>
            </div>  
            
            <div class="col-6"> 
                <div class="container"> 
                    <span class="tienda1"> Angie</span>
                </div>
  
                <span class=""> Mi nombre es María de los Angeles Pérez Cardona, siempre me ha parecido un poco largo por lo cual a todo el mundo le digo que me gusta más que me llamen Angie, no me gusta la idea del 
                destino sin embargo la frase que me motiva habla de él. </span>
                <b>"No es sano que alguien acepte su destino, si han de morir, haganlo peleando".</b>
                <p>Eso es lo que siempre me ha levantado a seguir adelante, las 
                cosas deben ser lo que tú quieras y puedas, por eso hablar de algo como el destino simplemente no me gusta.</p>
                <p>En cuanto a la escuela, siempre me ha gustado estudiar, soy un poco floja pero con mucha voluntad.
            	Dicho esto, siento que estoy bien, pues siempre he pensado que la mejor cualidad del humano es ser imperfecto.
                </p>
            </div>
        </div>
        </div>
    </div>

    <div class=" container-acerca">
	<div class="container" >
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img src="images/cristy.jpg" class="img-fluid" width="70%">
                        </div>
                    </div>  
                </div>
            </div>  
            
            <div class="col-6"> 
                <div class="container"> 
                    <span class="tienda1">Cristy</span>
                </div>

                <span class="">Hola me llamo Ana Cristina pero me dicen Cristy.
                 Me gusta mucho pintar tengo varios cuadros, me gusta hacer 
                 manualidades y cantar, podría estar cantando todo el dia algo 
                 que me gustaría hacer es entrar a unas clases de canto pero 
                 por la pandemia ya no pude. Mi fruta favorita es la sandia <b><3</b>.</span>
                 <p>los perros me gustan mucho por lo cual tengo uno se llama cacao.
                 Espero que todo esto de la pandemia se solucione pronto y las
                 clases en linea terminen </p> 
            </div>
        </div>
        </div>
    </div>

    <div class=" container-acerca">
	<div class="container" >
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img src="images/andy.jpg" class="img-fluid" width="70%">
                        </div>
                    </div>  
                </div>
            </div>  
            
            <div class="col-6"> 
                <div class="container"> 
                    <span class="tienda1"> Andy</span>
                </div>
                <span class=""> Me llamo Andrea Isabel, pero muchos me llaman Andy de cariño y por ser más corto, me empezaron a llamar así desde la secundaria, así que estoy muy acostumbrada que me nombren por Andy y no por Andrea. Me gusta mucho la sandía, igual que a Cristy pero creo que a ella le gusta más. Me gustan los gatos pero soy alergica a ellos, así que nunca he tenido uno, sin embargo, me gustan los perros y tengo uno de moscota, es perrita y se llama Chloe. Me disgustan mucho las mentiras, ¿a quién no, verdad?, me gusta la música y toco flauta transversal. No puedo esperar el momento en estar libre de la escuela, ya casi terminamos y ha llegado el momento de descansar. </span>
            </div>
        </div>
        </div>
    </div>	






	 	   <%- include('footer') -%>
    <script src="/js/jquery.slim.min.js"></script>
<script src="/js/umd/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

    
</body>
</html>
 