<!-- footer-->
    <footer class="page-footer font-small indigo" style="background-color: #0F66C0">
        <div class="container-fluid" style="background-color: #0F66C0"><div class="row-spaciop"></div></div>
		<div class="container text-center">
    		<div class="row justify-content-center">
        		<div class="col-6">
            		<img src="images/logo.png" class="img-fluid">
        		</div>
    		</div>
		</div>

		<div class="container text-center text-md-left">
			<div class="row">
        		<div class="col-md-3 mx-auto">
        			<div class="verticalLine">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                     <span class="cabeza" class="font-weight-bold text-uppercase mt-3 mb-4">TIENDA</span>
                                </div>
                            </div>
                        </div>

                    <div class="container">
                        <div class="row">
                            <span class="piePag">
            		          <ul class="list-unstyled">
                		           <li class="nav-item"><a class="nav-link" href="/acerca_de">Acerca de</a></li>
                		            <li class="nav-item"><a class="nav-link" href="#">Vende tus Videojuegos</a></li>
                		            <li class="nav-item"><a class="nav-link" href="#">Centro de Reparacion</a></li>
                		            <li class="nav-item"><a class="nav-link" href="#">Ofertas y Cupones</a></li>
                		           <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
            		          </ul>
                            </span>
                        </div>
                    </div>


        		</div>
        	</div>

        	<hr class="clearfix w-100 d-md-none">
        	<div class="col-md-3 mx-auto">
        		<div class="verticalLine">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                 <span class="cabeza" class="font-weight-bold text-uppercase mt-3 mb-4">COMPAÑÍA</span>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <span class="piePag">
            		          <ul class="list-unstyled">
                		          <li class="nav-item"><a class="nav-link" href="#">Envios y Devoluciones</a></li>
                		          <li class="nav-item"><a class="nav-link" href="#">Contactanos</a></li>
                		          <li class="nav-item"><a class="nav-link" href="#">Compra Segura</a></li>
                		          <li class="nav-item"><a class="nav-link" href="#">Privacidad</a></li>
            		          </ul>
                            </span>    
                        </div>
                    </div>


        		</div>	
        	</div>

        	<hr class="clearfix w-100 d-md-none">
        	<div class="col-md-3 mx-auto">
        		<div class="verticalLine">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                 <span class="cabeza" class="font-weight-bold text-uppercase mt-3 mb-4">CUENTA</span>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <span class="piePag">
            		          <ul class="list-unstyled">
               			          <li class="nav-item"><a class="nav-link" href="#">Reatrear mi Pedido</a></li>
               			          <li class="nav-item"><a class="nav-link" href="#">Mi Cuenta</a></li>
              	 		          <li class="nav-item"><a class="nav-link" href="#">Carro de Compras</a></li>
                		          <li class="nav-item"><a class="nav-link" href="#" target="_blank">FAQs</a></li>
            		          </ul>
                            </span>
                        </div>
                    </div>

        		</div>
        	</div>

        	<hr class="clearfix w-100 d-md-none">
        	<div class="col-md-3 mx-auto">
        		<div class="verticalLine">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
        			             <span class="cabeza" class="font-weight-bold text-uppercase mt-3 mb-4">SOCIAL</span>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="list-unstyled">
               			              <li class="nav-item"><a class="nav-link" href="#"><img src="images/facebook.png" class="img-fluid" ></a></li>
               			               <li class="nav-item"><a class="nav-link" href="#"><img src="images/pinterest.png" class="img-fluid" ></a></li>
              	 		              <li class="nav-item"><a class="nav-link" href="#"><img src="images/google.png" class="img-fluid" ></a></li>
                                </ul>  
                            </div>

                            <div class="col">
                                <ul class="list-unstyled">
                		              <li class="nav-item"><a class="nav-link" href="#" target="_blank"><img src="images/twitter.png" class="img-fluid" ></a></li>
                		               <li class="nav-item"><a class="nav-link" href="#" target="_blank"><img src="images/youtube.png" class="img-fluid" ></a></li>
            		              </ul>
                            </div>
                        </div>
                    </div>
        		</div>
        	</div>
        	<hr class="clearfix w-100 d-md-none">
		</div>
    </footer>
<!-- footer-->