<!-- header-->
<header>
<body><div class="container-fluid" style="background-color: #0F66C0">
        <div class="row-1">
            <div class="col-12">
                <nav class="navbar navbar-light " style="background-color: #0F66C0" >  
                    <span class="navbar-text" style="color: #FFFFFF" >
                        <img src="images/shippingicon.gif" align="left" width="5%">
                        ENVÍOS GRATIS con ordenes mayores de $600
                    </span>
                    <span class="navbar-text" style="color: #FFFFFF">
                            <span align="right" style="color: #FFFFFF">
                                <img src="images/sol.png" align="left" width="4%">
                                120 DÍAS DE GARANTÍA que nadie puede superar!
                            </span>
                    </span>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #004591">
        <div class="row">
            <div class="col-12">    
                <nav class="navbar navbar-expand-lg   navbar navbar-dark  "style="background-color: #004591">
                        <div class="collapse navbar-collapse justify-content-between">
                            <% if (page == 'tienda retro'){ %>
                         
                                <a id="navbar2"class="nav-item active nav-link " href="#">Tienda Retro </a>
                       
                            <% } else { %>
                            
                                <a id="navbar2"class="nav-item nav-link " href="/">Tienda Retro</a>
                        
                            <% } %>
                            <% if (page == 'contactanos'){ %>
                            
                                <a id="navbar2"class="nav-item active nav-link " href="#">Contactanos</a>
                           
                            <% } else { %>
                          
                                <a id="navbar2"class="nav-item nav-link " href="#">Contactano</a>
                           
                            <% } %>
                            <% if (page == 'acerca de'){ %>
                            
                                <a id="navbar2"class="nav-item active nav-link " href="#">Acerca de</a>
                            
                            <% } else { %>
                           
                                <a id="navbar2"class="nav-item nav-link " href="/acerca_de">Acerca de</a>
                        
                            <% } %>
                            <img src="images/logo.png" align="center" width="7%">
                            <% if (page == 'vende tus viedojuegos'){ %>
                    
                                <a id="navbar2"class="nav-item active nav-link " href="#">Vende tus VideoJuegos</a>
                           
                            <% } else { %>
                            
                                <a id="navbar2"class="nav-item nav-link " href="#">Vende tus VideoJuegos</a>
                           
                            <% } %>
                            <% if (page == 'cuenta'){ %>
                           
                                <a id="navbar2"class="nav-item active nav-link " href="#">Cuenta</a>
                           
                            <% } else { %>
                    
                                <a id="navbar2"class="nav-item nav-link " href="#">Cuenta</a>
                            
                            <% } %>
                                
                            <% if (page == 'login'){ %>
                            
                                <a id="navbar2"class=" nav-item active nav-link " href="#">Login</a>
                          
                            <% } else { %>
                        
                                <a id="navbar2"class="nav-item nav-link " href="#">login</a>
                    
                            <% } %>
                            <% if (page == 'carrito'){ %>
                            
                                <a id="navbar2"class="nav-item active nav-link " href="#">Carrito</a>
                           
                            <% } else { %>
                           
                                <a id="navbar2"class="nav-item nav-link " href="#">Carrito</a>
                          
                            <% } %>
                        </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #00346E">
        <div class="row">
            <div class="col-12">    
                <nav class="nav nav-pills justify-content-between nav-dark" style="background-color: #00346E">
                    <div class="btn-group btn-group-toggle btn-background-color:#00346E " data-toggle="buttons" >
                        
                            <a id="barraBusqueda" class="nav-item nav-link" href="#">Nintendo</a>
                       
                            <a id="barraBusqueda" class="nav-item nav-link" href="#">Sega</a>
                        
                        
                            <a id="barraBusqueda" class="nav-item nav-link" href="#">PlayStation</a>
                        
                        
                            <a id="barraBusqueda" class="nav-item nav-link" href="#">Xbox</a>
                      
                            <a id="barraBusqueda" class="nav-item nav-link" href="#">Ofertas</a>
                        

                    </div>
                    <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar en tienda" aria-label="Buscar en tienda">
                            <img src="images/search.jpg" class="img-fluid" >
                        </form>
                </nav>
            </div>
        </div>
    </div>
    
</header>
<!-- header-->