<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fonts/Golden.ttf">
    
</head>
    <%- include('header') -%>

    <!--
    TIENDA DE JUEGOS RETRO
    -->

    <div class="container-medio">
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img src="images/nintendo-banner.jpg" class="img-fluid" width="100%">
                        </div>
                    </div>  
                </div>
            </div>  
            
            <div class="col-6"> 
                <div class="container tienda1"> 
                    <span class="tienda1"> TIENDA   DE   JUEGOS</span>
                </div>
                <div class="container tienda2"> 
                    <span class="tienda2"> RETRO!</span>
                </div>
                <span class="descripcion"> Compra videojuegos usados, consolas originales y accesorios de la vieja escuela en la tienda en línea de videojuegos retro más grande en su clase. Compra todos nuestros productos vintage 100% auténticos, con una garantía gratuita de 120 días y envío nacional gratuito. </span>
            </div>

        </div>
    </div>


    <!--
    OFERTAS RETRO
    -->

    <div class="page-footer font-small indigo" style="background-color: #0F66C0">
        <div class="container ofertas ">
            <div class="row-ofertas">
                <div class="col-12 text-center">
                    <span class="ofertas"> Ofertas Retro! </span>
                </div>

                <div class="col-12 text-center" style="color:#0F66C0">c</div>
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-2">
                                <div class="container-img text-center">
                                    <div class="row">
                                        <div class="col" style="color:white" style="font-size: 5px;">c</div>
                                        <span class="img1"><img src="images/NES_Mario_2Player.jpg" class="img-fluid" width="60%"></span>
                                        <div class="container">
                                                <div class="container text-center">
                                                    <span class="desimg">NES Original 2 Jugadores con Mario Pack</span>
                                                </div>
                                        </div>
                                        <div class=" container">
                                            <span class="precio1">$999.99</span>
                                            <span class="precio2">$799.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="container-img text-center">
                                    <div class="row">
                                        <div class="col" style="color:white" style="font-size: 5px;">c</div>
                                        <span class="img2"><img src="images/N64_goldeneye.jpg" class="img-fluid" width="60%"></span>
                                        <div class="container">
                                                <div class="col" style="color:white" style="font-size: 5px;">c</div>
                                                <div class="container text-center">
                                                    <span class="desimg">N64 GoldenEye Pack</span>
                                                </div>
                                        </div>
                                        <div class=" container">
                                            <span class="precio1" style="text-decoration:line-through;">$1499.99</span>
                                            <span class="precio2">$1299.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="container-img text-center">
                                    <div class="row">
                                        <div class="col" style="color:white" style="font-size: 5px;">c</div>
                                        <span class="img3"><img src="images/Wii-system.jpg" class="img-fluid" width="60%"></span>
                                        <div class="container">
                                                <div class="container text-center">
                                                    <span class="desimg">Sistema Wii Pack</span>
                                                </div>
                                        </div>
                                        <div class=" container">
                                            <span class="precio1" style="text-decoration:line-through;">$1199.99</span>
                                            <span class="precio2">$699.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="container-img text-center">
                                    <div class="row">
                                        <div class="col" style="color:white" style="font-size: 5px;">c</div>
                                        <span class="img4"><img src="images/NES_ContraTysonZelda.jpg" class="img-fluid" width="60%"></span>
                                        <div class="container">
                                                <div class="container text-center">
                                                    <span class="desimg">NES Original Contra, Tyson, Zelda pack</span>
                                                </div>
                                        </div>
                                        <div class=" container">
                                            <span class="precio1">18999.99</span>
                                            <span class="precio2">$1659.99</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center" style="color:#0F66C0">c</div>
                <div class="col-12 text-center">
                    <div id="row">
                             <span class="boton-of">Más ofertas > </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--
    OBTENER OFERTAS
    -->
    <div class="container-fluid" style="background-color: #004591"><div class="row-spacio"></div></div>

    <div class="container-fluid" style="background-color: #004591">
        <div class="row-obtener">

            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="text" placeholder="tú correo electronico" aria-label="tú correo electronico" <img src="images/submit.jpg" align="right"><img src="images/submit.jpg" align="right">
                            </form>
                    </div>
                    <div class="col-6">
                        <span class="barraBusqueda">Obten ofertas</span>
                            <p style="color: white">Registrate para obtener ofertas <em>EXCLUSIVAS</em> y cupones para todos tus videojuegos favoritos retro y consolas clásicas!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--
    PIE DE PAGINA
    -->

    <%- include('footer') -%>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/umd/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $('#carousel').carousel({
        interval:2500
    })
</script>
    
</body> 

</html>