@font-face{
	font-family: Golden ;
	src: url(fonts/Golden.ttf);
}

@font-face{
	font-family: Golden2 ;
	src: url(fonts/Golden2.ttf);
}

body {
  font:  "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}
h2{
	color:blue;
}
h3{
	color:gray;
}
#cabeza{
	border-bottom: 2px solid yellow; 
}

 /*ESTILOS PARA INDEX.HTML*/
.container-medio{
	margin: 50px;
}
.active{
	color:white;
	background-color:#00346E; 
	border-bottom: 2px solid yellow;
}


.caja1{
	color:blue;
}
.container-fluid{
	margin:0px;
}

#barraBusqueda:hover{
	color:white;
	background-color:#004592; 
	border-bottom: 2px solid yellow;
}

div.row-1{
	height: 50px;
}


#navbar2, #barraBusqueda, span.navbar-text{
	font-size: 15px;
	color:white;
}
#navbar2:hover{
	font-size: 15px;
	color:white;
	background-color:#00346E; 
	border-bottom: 2px solid yellow;
}

footer a:hover{
	color:#FFFFFF;
	background: #004591;
}
footer h5, footer a{
			color:#FFFFFF;
}
.verticalLine{
	border-left: 2px solid #004591;
}


/*Tienda retro y ofertas*/


span.tienda1, span.tienda2, span.descripcion{
	color: blue;
}

span.descripcion{
	font-size: 15px;
}
span.tienda1, span.tienda2, span.ofertas, span.barraBusqueda, span.cabeza{
	text-shadow: 2px 2px 2px black;
	font-family: Golden;
}
span.tienda1, span.tienda2, span.barraBusqueda{
	font-size: 30px ;
}
span.cabeza{
	font-size: 22px;
}
span.piePag{
	color:white;
	font-size: 15px;
}


span.ofertas{
	border-bottom:2px solid yellow;
	color: white ;
	font-size: 30px;
}

div.row-ofertas{ 
	float:right:left;
	background-color: #0F66C0;
	width: 100%;
	height: 500px;
}
div.row-obtener{
	height: 250px
}

div.row-spacio{
	height: 60px
}
div.row-spaciop{
	height: 15px
}

.container-img{
	float:right:left;
	border: 2px solid black;
	background-color: white;
	bottom: 3px;
	width: 112%;
	height: 250px;
}
.desimg, .precio1, .precio2{
	font-size: 12px;
}
.precio2{
	color:#FF0000;
}



.boton-of{
	width: 20%;
	text-align: center;
	padding: 3%;
	background-color: #FFDD45;
    display: inline-block;
    color: #00346E !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    border: 2px solid;
    border-color: #E5BE1D;
    transition: all 1s ease;
    position: relative;
}

.boton-of:hover{
	border-color: #DC1E29;
	background: #DC1E29;
	color: white !important;
}


em{
	color: yellow;
}
span.barraBusqueda{
	color:white;
	border-bottom:2px solid yellow;
}

span.cabeza{
	border-bottom:2px solid yellow;
	color:white;
}


/*ACERCA DE*/
.tituloAcerca{
	text-shadow: 2px 2px 2px black;
	font-family: Golden2;
	font-size: 55px;
	height: 30px;
	color: blue;
}

.container-acerca{
	margin-top:30px;
	height: 500px;
}